.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.frontpage-carousel-image {
    width: 100%;
    height: 40vw;
    object-fit: cover;
}

.carousel-caption {
    width: 50%;
    left: 10%;
    font-size: 2vw; /* regulates font size when resizing browser*/
    text-align: justify;
    bottom: 0;
}

.carousel-caption a {
    text-decoration: none;
}

.carousel-caption h3, .carousel-caption p {
    color: white;
}

.card-img-overlay { /* card position relative to ensure card-text css works */
    position: relative;
    height: auto;
}

.card-text { /* affects card text titles in research section */
    position: absolute;
    width: 50%;
    bottom: 10vh;
}

.modal-title {
    text-align: center;
}

.modal-title, .modal-body {
    color: black;
}