body {
    background-color: white;
	font-family: Raleway, sans-serif;
	font-weight: 200;
}

h1 {
    color: black;
	font-family: Raleway, sans-serif;
	font-weight: 500;
	font-size: 3em
}

h2{
	padding-top: 3em;
	font-family: Raleway, sans-serif;
	font-weight: 500;
	color: black;		
	text-indent: 50px;
}

p{
	padding-left: 50px;
}


.column{
	width: 33.33%;
	float: left;
	background-color: white;
}

.row{
	padding-left: 50px;
}

.row:after	{
	content: "";
	display: table;
	clear:  both;
}



/********Homepage Image********/
.container {
    position: relative;
    text-align: center;
	font-family: Raleway, sans-serif;
	text-transform: uppercase;
    color: white;
}

.eyntk-r1 {
	position: absolute;
	top: 70%;
    left: 0%;
    transform: translate(12%, -100%);
	color: #cccccc;
	font-size: 2.1em;
	font-weight: 800;
	line-height: 1.6em;
	display: inline-block;
}

.eyntk-r2 {
    position: absolute;	
    top: 76%;
    left: 0%;
    transform: translate(12%, -60%);	
	margin: 0;
	font-size: 5em;
	line-height: 1em;
	font-weight: 300;
}


/********navigation bar********/

/* Style the navbar */
#navbar {
	overflow: hidden;
	background-color: white;
	margin-right: 0em;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: grey;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Change background on mouse-over */
#navbar a:hover {
    background: white;
    color: black;
}

/* Page content */
.content {
  padding: 16px;
  width : 100%;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position : fixed;
  top : 0;
  width : 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}	

/*side bar*/
.sidebarClass {
	position: absolute;
	padding-top: 60px;
	width: 300px;
    left: 900px;
    background: white;
}

.sidebarClass img {
	padding-left: 25px;
}


.sidebarClass a:hover {
    color: #064579;
}

.sticky2 {
	position: fixed;
	top: 0px;
    left: 900px;
}

.main {
	width: 830px;
    padding: 0px 10px;
}	

