body{
  font-family: sans-serif;
}
h1{
  text-align: center;
  color: forestgreen;
  margin: 30px 0 50px;
}
.gallery{
  text-align:center;
  margin: 10px 50px;
}
.gallery img{
  width: 500px;
  padding: 5px;
}

.gallery img:hover{
  transform: scale(1.1);
}
